@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj Detay Sayfası</h1>
@Html.Label("Mesaj ID")
@Html.LabelFor(x=>x.MessageID, new {@class="form-control"})
<br />
@Html.Label("Mesaj Konusu")
@Html.LabelFor(x=>x.Subject, new {@class="form-control"})
<br />
@Html.Label("Mesaj İçeriği")
@Html.LabelFor(x=>x.MessageDetails, new {@class="form-control"})
<br />
<button class="btn btn-success">Mesajlara Dön</button>

